@page "/"


@using Seoul.It.Blackjack.Client
@inject BlackjackClient Client
@inject NavigationManager NavigationManager

<div align="center">
<img src="/BlackJack.png" alt="Alternate Text" />
<h3>입장</h3>
닉네임 입력
<input type="text" name="name" @bind="_playerName" /> <br>
딜러키 입력
<input type="text" name="dealerkey" @bind="_dealerKey" /> <br>	
<br>
<button @onclick="OnClicked">확인</button>
</div>


@code {
	private string _playerName = string.Empty;
	private string _dealerKey = string.Empty;

	public void OnClicked()
	{
		if (string.IsNullOrWhiteSpace(_playerName))
		{
			return;
		}

		NavigationManager.NavigateTo("/InGame"); 
	}

	
}
