@page "/"
@using Seoul.It.Blackjack.Client
@inject BlackjackClient Client
@inject NavigationManager NavigationManager


<h3>입장</h3>
닉네임 입력
<input type="text" name="name" value="" /> <br>
딜러키 입력
<input type="text" name="dealerkey" value="" /> <br>	

<input type="button" name="Ok" value="확인" />


@code {
	private static _playerName = string.Empty;
	private static _dealerKey = string.Empty;

	void OnClicked()
	{
		NavigationManager.NavigateTo("/next");
	}

	
}
