@page "/"


<h3>입장</h3>
닉네임 입력
<input type="text" name="name" value="" /> <br>
딜러키 입력
<input type="text" name="dealerkey" value="" /> <br>	

<input type="button" name="Ok" value="확인" />


@code {
	
}
