@page "/InGame"

@using Seoul.It.Blackjack.Client
@using Seoul.It.Blackjack.Core.Contracts
@inject BlackjackClient Client
@inject NavigationManager NavigationManager


<h1>BlackJack Table</h1> <br>
<button @onclick="Exit">나가기</button>
<button @onclick="OnInitialized">히트</button>
<button @onclick="Stand">스탠드</button>


@code {
	public void Exit()
	{
		NavigationManager.NavigateTo("/");
	}

	protected override void OnInitialized()
	{
		Client.StateChanged += OnStateChanged;
		base.OnInitialized();
	}

	void OnStateChanged(GameState state)
	{
		var ss = state.Players.Count;
	}

	public void Stand()
	{
		NavigationManager.NavigateTo("/");
	}
	
		


}
